.button-container{
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    /* background-color: aliceblue; */
    /* border: rgb(0, 0, 0) 2px solid; */
    /* height: fit-content; */
    height: 100vh;
    width: 20%;
    max-height: 1080px;
    /* min-height: 560px;
    max-height: 800px; */
    position: sticky;
    top: 0px;
}
.button-container button{
    margin: 25px 0;
}



/* .btn{
    box-shadow:
        inset 6px 6px 10px rgba(0,0,0,0.08),
        inset -6px -6px 10px rgba(255,255,255,0.86);
    border-radius: 0px;
    color: black;
    background-color: tomato;
} */

.button-container .btn{
    width: 100%;
    font-size: clamp(0.75em,1.52vw,1.2em);
    padding: 12px 0px;
    padding-left: 10%;
    /* margin: 1.5vh 0; */
    font-weight: 600;
    border: none;
    border-radius: px;
    background-color: transparent;
    color: #1d1d1d;
    box-shadow:
        6px 6px 10px rgba(0,0,0,0.05),
        -6px -6px 10px rgba(255,255,255,0.65);
    outline: none;
    cursor: pointer;
    transition: box-shadow 0.4s;
    text-align: left;
}

.button-container .activeBtn{
    width: 100%;
    /* font-size: 1.0em; */
    font-size: clamp(0.78em,1.52vw,1.2em);
    padding: 12px 0px;
    padding-left: 10%;
    /* margin: 1.5vh 0; */
    font-weight: 600;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    color: #1d1d1d;
    box-shadow:
        inset 6px 6px 10px rgba(0,0,0,0.08),
        inset -6px -6px 10px rgba(255,255,255,0.86);
    outline: none;
    cursor: pointer;
    transition: box-shadow 0.4s;
    text-align: left;
}


/* @media only screen and (max-width: 650px){
    .button-container{
        width: 100%;
    }
    .button-container .btn,.button-container .activeBtn{
        width: 23%;
    }
} */


/* .button-container div{
    background-color: tomato; 
    width: 25%;
} 
  */

  @media only screen and (max-width: 650px){
    .button-container{
        display: none;
    }
  }
