.featured-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* background-color: blanchedalmond; */
}

.featured-container a img{
    height: clamp(35px,3.29vw,45px);
    transition: 0.4s;
}
.featured-container a img:hover{
    transform: scale(1.1);
}

@media only screen and (max-width: 870px){
    .not-visible{
        display: none;
    }
    .featured-container a img{
        height: clamp(30px,5.7vw,50px);
    }
}

@media only screen and (max-width: 500px){
    .featured-container{
        flex-direction: column;
    }
    .featured-container a img{
        margin: 2vh 0;
    }
}